.gameXX{
    background-image: url(../asset/img/Game/bgGame.png);
    height: 100vh;
    background-size: cover;
}

.imgGround img{
    width: 50px;
}
.btnGame{
    padding:5px;
    background-color: white;
    margin: 0px 5px ;
}
.btnplayer img{
    width: 250px;
}
p{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(101, 226, 101);
}
span{
    color: yellow;
}
